/*
*
 Section
*
*/

.section {
	height: 654px;
}

	.section__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 173px 64px 87px 64px;
	}

		.section__header {
			margin-top: 0;
			margin-bottom: 63px;
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 150%;
			color: var(--main-accent-color);
		}

/* Media Queries */

@media (max-width: 1257px) {
	.section {
		margin-top: 238px;
	}

		.section__container {
			padding: 173px 64px 87px 64px;
		}
}

@media (max-width: 1148px) {
	.section {
		flex-direction: column;
		height: 47.01%;
		align-items: center;
	}

		.section__container {
			padding: 173px 64px 0 64px;
		}

			.section__header {
				margin-top: 0;
				margin-bottom: 53px;
			}
}

@media (max-width: 768px) {
	.section {
		margin-top: 292px;
	}

		.section__container {
			padding-top: 0;
		}
}
